include ../partials/mixins.pug
.container.mt-5
    h2.text-center HOT PRODUCTS
    .row
        .col-md-4.col-sm-6.col-xs-12
            +hot-product("width: 18rem;","https://via.placeholder.com/280x280?text=hot+product+1")
        .col-md-4.col-sm-6.col-xs-12
            +hot-product("width: 18rem;","https://via.placeholder.com/280x280?text=hot+product+1")
        .col-md-4.col-sm-6.col-xs-12
            +hot-product("width: 18rem;","https://via.placeholder.com/280x280?text=hot+product+1")
        
                