include ../partials/mixins.pug
.container.mt-5.mb-5
    h2 Products List
    .row
        .col-md-3.col-sm-6.col-xs-12
            +product("product 1","width: 18rem;","https://via.placeholder.com/280x280?text=product+1")
        .col-md-3.col-sm-6.col-xs-12
            +product("product 2","width: 18rem;","https://via.placeholder.com/280x280?text=product+2")
        .col-md-3.col-sm-6.col-xs-12
            +product("product 3","width: 18rem;","https://via.placeholder.com/280x280?text=product+3")
        .col-md-3.col-sm-6.col-xs-12
            +product("product 4","width: 18rem;","https://via.placeholder.com/280x280?text=product+4")